openapi: 3.0.3
info:
  title: Nimbus Property Search API
  description: |
    The Nimbus Property Search API provides access to comprehensive UK property data from the Nimbus golden record index.
    Search, filter, and retrieve property titles using a flexible query syntax — filter by location, property characteristics, geographic bounds, ownership, and more.
    For field reference and examples, see the Field Reference documentation.
  version: 1.0.0
  contact:
    name: Nimbus API Support
    email: support@nimbusproperty.co.uk

servers:
  - url: https://api.nimbusmaps.co.uk/search/v1
    description: Production server
  - url: https://api-preprod.nimbusmaps.xyz/search/v1
    description: Test server

security:
  - OAuth2: []

tags:
  - name: Address search
    description: Search for addresses and retrieve associated property identifiers
  - name: Titles
    description: Property title search and data retrieval
  - name: Comps
    description: Comparable deal search and data retrieval
  - name: Utilities
    description: Utility and diagnostic endpoints

paths:
  /titles:
    get:
      operationId: findTitle
      tags:
        - Titles
      summary: Find a single title by ID or number
      description: |
        Retrieve a property title by UUID or title number. Supports lookups by ID (direct), or by number with optional country code (defaults to ENG). If both parameters provided, ID takes precedence.
      security:
        - OAuth2: [search.titles]
      parameters:
        - name: id
          in: query
          required: false
          description: Title UUID for direct lookup
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

        - name: number
          in: query
          required: false
          description: Title number (case-insensitive, e.g., "LA135828")
          schema:
            type: string
            pattern: "^[A-Z]{2,3}[0-9]+$"
          example: "LA135828"

        - name: country
          in: query
          required: false
          description: Country ISO code (only used with 'number' parameter)
          schema:
            type: string
            enum: ["ENG", "SCT"]
            default: "ENG"
          example: "ENG"

      responses:
        "200":
          description: Title found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TitleDocument"
              examples:
                byId:
                  summary: Lookup by ID
                  value:
                    id: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"
                    number: "LA135828"
                    countryIsoCode: "ENG"
                    tenure: "Leasehold"
                    propertyCategory: "Residential"
                    propertyType: ["Terraced"]
                    areaInAcres: 0.023483
                    mainAddress:
                      fullAddress: "30, Penarth Road, Bolton, BL3 5RJ"
                      buildingNumber: "30"
                      street: "PENARTH ROAD"
                      town: "BOLTON"
                      postcode:
                        value: "BL3 5RJ"
                        outcode: "BL3"
                    owners: []
                byNumber:
                  summary: Lookup by title number (English)
                  value:
                    id: "76a19144-1878-4973-817c-3703199a152c"
                    number: "CB153191"
                    countryIsoCode: "ENG"
                    tenure: "Freehold"
                    propertyCategory: "Residential"
                    propertyType: ["Terraced"]
                    areaInAcres: 0.036295
                    mainAddress:
                      fullAddress: "9, Blackthorn Close, Cambridge, CB4 1FZ"
                      buildingNumber: "9"
                      street: "BLACKTHORN CLOSE"
                      town: "CAMBRIDGE"
                      postcode:
                        value: "CB4 1FZ"
                        outcode: "CB4"
                byNumberScottish:
                  summary: Lookup by title number (Scottish)
                  value:
                    id: "3ca49d43-b5cd-440a-9c46-180a6d3ef3af"
                    number: "ROS8936"
                    countryIsoCode: "SCT"
                    tenure: "Freehold"
                    propertyCategory: "Residential"

        "400":
          description: Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingParams:
                  summary: Missing required parameters
                  value:
                    error:
                      code: "MISSING_PARAMETERS"
                      message: "Either 'id' or 'number' parameter is required"
                      correlationId: "550e8400-e29b-41d4-a716-446655440000"
                invalidFormat:
                  summary: Invalid parameter format
                  value:
                    error:
                      code: "INVALID_FORMAT"
                      message: "Parameter 'id' must be a valid UUID"
                      correlationId: "550e8400-e29b-41d4-a716-446655440000"

        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Title not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                notFoundById:
                  summary: Not found by ID
                  value:
                    error:
                      code: "NOT_FOUND"
                      message: "Title with ID '4665bc0b-69d6-4e04-8117-48bb25dfba2c' not found"
                      correlationId: "550e8400-e29b-41d4-a716-446655440000"
                notFoundByNumber:
                  summary: Not found by number
                  value:
                    error:
                      code: "NOT_FOUND"
                      message: "Title with number 'LA135828' (country: ENG) not found"
                      correlationId: "550e8400-e29b-41d4-a716-446655440000"

        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      operationId: searchTitles
      tags:
        - Titles
      summary: Search titles
      description: |
        Search property titles using a flexible query syntax. Limits: max 25 results, 5s timeout, from+size≤10000. Supports match, term, bool, range, and geo queries. See the Field Reference for available fields.
      security:
        - OAuth2: [search.titles]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ElasticsearchQuery"
            examples:
              simpleMatch:
                summary: Simple text match
                value:
                  query:
                    match:
                      mainAddress.fullAddress: "Bolton"
                  size: 10

              boolQuery:
                summary: Boolean query with filters
                value:
                  query:
                    bool:
                      must:
                        - match:
                            mainAddress.town: "Cambridge"
                      filter:
                        - range:
                            areaInAcres:
                              gte: 0.01
                              lte: 1.0
                  size: 10

              titleNumberLookup:
                summary: Exact title number lookup
                value:
                  query:
                    match:
                      number: "LA135828"
                  size: 1

              multiMatch:
                summary: Multi-field search
                value:
                  query:
                    multi_match:
                      query: "30 Penarth Road Bolton"
                      fields:
                        - mainAddress.fullAddress^3
                        - mainAddress.street^2
                        - mainAddress.town^2
                        - number^5
                      fuzziness: AUTO
                  size: 10

              postcodePrefix:
                summary: Postcode area search
                value:
                  query:
                    match:
                      mainAddress.postcode.outcode: "BL3"
                  size: 10

              geoBoundingBox:
                summary: Geographic bounding box search
                value:
                  query:
                    bool:
                      must:
                        - match:
                            propertyCategory: "Commercial"
                      filter:
                        - geo_bounding_box:
                            geometry.centroid:
                              top_left:
                                lat: 53.6
                                lon: -2.5
                              bottom_right:
                                lat: 53.5
                                lon: -2.4
                  size: 25

              aggregationsExample:
                summary: Property distribution analysis
                value:
                  query:
                    match:
                      mainAddress.town: "Cambridge"
                  size: 0
                  aggs:
                    by_tenure:
                      terms:
                        field: tenure
                    avg_area:
                      avg:
                        field: areaInAcres
                    price_ranges:
                      histogram:
                        field: sales.price
                        interval: 50000

              complexFiltering:
                summary: Multi-criteria property search with filters
                value:
                  query:
                    bool:
                      must:
                        - match:
                            mainAddress.town: "London"
                      filter:
                        - range:
                            areaInAcres:
                              gte: 0.01
                              lte: 0.5
                  size: 10

              nestedQueryLeases:
                summary: Search properties by lease characteristics
                value:
                  query:
                    nested:
                      path: leases
                      query:
                        range:
                          leases.rentAnnually:
                            gte: 5000
                  size: 10

              constraintAnalysis:
                summary: Find properties with planning constraints
                value:
                  query:
                    bool:
                      must:
                        - match:
                            mainAddress.town: "Cambridge"
                      filter:
                        - range:
                            areaInAcres:
                              gte: 0.5
                  size: 10

              planningHistory:
                summary: Properties with recent planning approvals
                value:
                  query:
                    nested:
                      path: planning
                      query:
                        bool:
                          must:
                            - match:
                                planning.decision: "Approved"
                            - range:
                                planning.dateSubmitted:
                                  gte: "1999-01-01"
                  size: 10

              companyOwnership:
                summary: Find properties with company owners
                value:
                  query:
                    nested:
                      path: owners
                      query:
                        exists:
                          field: owners.companyName
                  size: 10

              valueAnalysis:
                summary: Properties by price per sq ft range
                value:
                  query:
                    nested:
                      path: sales
                      query:
                        range:
                          sales.pricePerSquareFoot:
                            gte: 400
                            lte: 600
                  sort:
                    - sales.dateAcquired:
                        order: desc
                        nested:
                          path: sales
                  size: 10

              epcRatingSearch:
                summary: Properties with EPC data available
                value:
                  query:
                    match:
                      mainAddress.town: "London"
                  size: 10

      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ElasticsearchResponse"
              examples:
                success:
                  summary: Successful search response
                  value:
                    took: 42
                    timed_out: false
                    _shards:
                      total: 3
                      successful: 3
                      failed: 0
                    hits:
                      total:
                        value: 123
                        relation: "eq"
                      max_score: 1.5
                      hits:
                        - _index: "properties"
                          _id: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"
                          _score: 1.5
                          _source:
                            id: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"
                            number: "LA135828"
                            countryIsoCode: "ENG"
                            tenure: "Leasehold"
                            propertyCategory: "Residential"
                            propertyType: ["Terraced"]
                            areaInAcres: 0.023483
                            mainAddress:
                              fullAddress: "30, Penarth Road, Bolton, BL3 5RJ"
                              buildingNumber: "30"
                              street: "PENARTH ROAD"
                              town: "BOLTON"
                              postcode:
                                value: "BL3 5RJ"
                                outcode: "BL3"
                            owners: []

        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /comps:
    get:
      operationId: findComparableDeal
      tags:
        - Comps
      summary: Find a single comparable deal by ID
      description: |
        Retrieve one public comparable deal document by UUID.
      security:
        - OAuth2: [search.comps]
      parameters:
        - name: id
          in: query
          required: true
          description: Comparable deal UUID for direct lookup
          schema:
            type: string
            format: uuid
          example: "f1a0087f-8647-420f-9c72-fbcc9320ecb0"
      responses:
        "200":
          description: Comparable deal found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComparableDeal"
              example:
                id: "f1a0087f-8647-420f-9c72-fbcc9320ecb0"
                titleId: "cb534ec8-6059-49ad-b40d-3e836a91c36e"
                comparableType: "Residential"
                comparableStatus: "RegisteredSale"
                dealType: "Residential"
                ownershipType: "Freehold"
                propertyType: ["Detached"]
                siteSizeInAcres: 0.337
                mixedUse: false
                validationStatus: "Validated"
                dealData:
                  dealId: "f1a0087f-8647-420f-9c72-fbcc9320ecb0"
                  dealDate: "2005-08-23T23:00:00Z"
                  dealPrice: 250000.0
                  indexedPrice: 418651.69
                  dealPricePerSquareFoot: 134.25
                  dealPricePerAcre: 741939.33
                  dealAddress: "Land Adjacent The Garage, Great North Road, South Muskham, NG23 6EA"
                  transactionType: "Sale"
                  comparableType: "Residential"
                  dealType: "Sale"
                  propertyType: "Detached"
                  propertyTypeArray: ["Detached"]
                  propertyCondition: "Secondhand"
                  totalFloorAreaInSquareFeet: 1862.15
                  siteAreaInSquareFeet: 14677.75
                  siteAreaInSquareMeters: 1363.61
                  useClass: ["C3"]
                  useClasses: "C3 - Single-family homes"
                  countryIsoCode: "ENG"
                  lastModified: "2026-04-29T08:46:29Z"
                  dealGeometry:
                    entryId: "cb534ec8-6059-49ad-b40d-3e836a91c36e"
                    centroid:
                      lat: 53.107
                      lon: -0.822
                    area: 3778.96
        "400":
          description: Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Comparable deal not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      operationId: searchComparableDeals
      tags:
        - Comps
      summary: Search comparable deals
      description: |
        Search comparable deal records using a flexible query syntax.
        Limits: max 25 results, 5s timeout, from+size≤10000.
      security:
        - OAuth2: [search.comps]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ElasticsearchQuery"
            examples:
              commercialSales:
                summary: Commercial sales over one million pounds
                value:
                  query:
                    bool:
                      filter:
                        - term:
                            comparableType: "Commercial"
                        - term:
                            dealData.transactionType: "Sale"
                        - range:
                            dealData.dealPrice:
                              gte: 1000000
                  sort:
                    - dealData.dealDate:
                        order: "desc"
                  size: 10
              titleLinkedDeals:
                summary: Deals linked to a title
                value:
                  query:
                    term:
                      titleId: "cb534ec8-6059-49ad-b40d-3e836a91c36e"
                  size: 25
              yieldAggregation:
                summary: Investment yield aggregation
                value:
                  query:
                    bool:
                      filter:
                        - term:
                            comparableType: "Commercial"
                        - term:
                            dealType: "Investment"
                        - exists:
                            field: "dealData.netYield"
                  size: 0
                  aggs:
                    by_property_type:
                      terms:
                        field: "dealData.propertyTypeArray"
                      aggs:
                        avg_yield:
                          avg:
                            field: "dealData.netYield"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompsElasticsearchResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /comps/{dealId}/sales:
    get:
      operationId: getCompsSales
      tags:
        - Comps
      summary: Get sale detail records for a comparable deal
      description: |
        Retrieve up to 10 sale detail records for a comparable deal.
        The response includes ownership type, corporate ownership where available, linked investment-sale leases, tenants, and agents.
      security:
        - OAuth2: [search.comps]
      parameters:
        - name: dealId
          in: path
          required: true
          description: Comparable deal UUID
          schema:
            type: string
            format: uuid
          example: "f1a0087f-8647-420f-9c72-fbcc9320ecb0"
      responses:
        "200":
          description: Sale detail records for the comparable deal
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CompsSaleRecord"
              example:
                - id: "98aa543d-0c40-4b97-9093-e6f15edc6770"
                  dealId: "f1a0087f-8647-420f-9c72-fbcc9320ecb0"
                  titleId: "cb534ec8-6059-49ad-b40d-3e836a91c36e"
                  dateAcquired: "2022-02-25T00:00:00Z"
                  price: 1000000
                  dataSourceType: "PublicRecords"
                  ownerships:
                    - id: "6e2e7310-b525-4a7c-b34f-af9f0caa69eb"
                      ownerType: "Company"
                      corporateOwners:
                        - id: "9fba1bc2-50f9-4282-8e66-b606e9121f1a"
                          proprietorName: "HEYLO HOUSING LIMITED"
                          companyId: "240acddd-0b25-401e-bc2e-cc6f527222d3"
                  linkedLeases: []
                  acquisitionAgents: []
                  disposingAgents: []
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          description: Detail service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /comps/{dealId}/leases:
    get:
      operationId: getCompsLeases
      tags:
        - Comps
      summary: Get lease detail records for a comparable deal
      description: |
        Retrieve up to 10 lease detail records for a comparable deal.
        The response includes break clauses, covenants, tenants, and agents.
      security:
        - OAuth2: [search.comps]
      parameters:
        - name: dealId
          in: path
          required: true
          description: Comparable deal UUID
          schema:
            type: string
            format: uuid
          example: "f1a0087f-8647-420f-9c72-fbcc9320ecb0"
      responses:
        "200":
          description: Lease detail records for the comparable deal
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CompsLeaseRecord"
              example:
                - id: "8a314d48-e7ae-420d-a5f6-7ea5d45a8b32"
                  dealId: "f1a0087f-8647-420f-9c72-fbcc9320ecb0"
                  startDate: "2020-01-01T00:00:00Z"
                  endDate: "2030-01-01T00:00:00Z"
                  leaseType: "BusinessLease"
                  rentAnnually: 45000
                  breakClause: null
                  covenants: []
                  tenants: []
                  acquisitionAgents: []
                  disposingAgents: []
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          description: Detail service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /comps/{dealId}/listings:
    get:
      operationId: getCompsListings
      tags:
        - Comps
      summary: Get listing detail records for a comparable deal
      description: |
        Retrieve up to 10 listing detail records for a comparable deal.
        The response includes price history, marketing resources, images, and agents.
      security:
        - OAuth2: [search.comps]
      parameters:
        - name: dealId
          in: path
          required: true
          description: Comparable deal UUID
          schema:
            type: string
            format: uuid
          example: "f1a0087f-8647-420f-9c72-fbcc9320ecb0"
      responses:
        "200":
          description: Listing detail records for the comparable deal
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CompsListingRecord"
              example:
                - id: "003a77d9-8749-45c7-b9a4-b97da19ea4e1"
                  dealId: "f1a0087f-8647-420f-9c72-fbcc9320ecb0"
                  firstListingDate: "2025-01-15T00:00:00Z"
                  listingStatus: "Active"
                  salesNoticeType: "ForSale"
                  history: []
                  resources: []
                  agents: []
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          description: Detail service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /comps/{dealId}/brochures:
    get:
      operationId: getCompsBrochures
      tags:
        - Comps
      summary: List available brochures for a comparable deal
      description: |
        Returns metadata about brochure PDFs archived to blob storage for a comparable deal's listings.
        Use the index value with the /brochures/download endpoint to fetch a specific PDF.
        Returns empty array if no brochures are archived.
      security:
        - OAuth2: [search.comps]
      parameters:
        - name: dealId
          in: path
          required: true
          description: Comparable deal UUID
          schema:
            type: string
            format: uuid
          example: "dace1cb1-6cbf-4529-be74-316c236083d6"
      responses:
        "200":
          description: Brochure metadata (empty array if none archived)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: Listing resource UUID
                    listingId:
                      type: string
                      format: uuid
                      description: Parent listing UUID
                    agentName:
                      type: string
                      nullable: true
                      description: Name of the listing agent (if available)
                    brochureDate:
                      type: string
                      format: date-time
                      description: Date the brochure was archived
                    index:
                      type: integer
                      description: Zero-based index for use with the download endpoint
                  required:
                    - id
                    - listingId
                    - brochureDate
                    - index
              example:
                - id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  listingId: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
                  agentName: "Savills"
                  brochureDate: "2025-11-04T10:30:00Z"
                  index: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          description: Detail service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /comps/{dealId}/brochures/download:
    get:
      operationId: getCompsBrochuresDownload
      tags:
        - Comps
      summary: Download a brochure PDF for a comparable deal
      description: |
        Downloads the actual PDF file for a brochure that has been archived to blob storage.
        Use the /comps/{dealId}/brochures endpoint first to list available brochures,
        then use the index parameter to select which one to download.
      security:
        - OAuth2: [search.comps]
      parameters:
        - name: dealId
          in: path
          required: true
          description: Comparable deal UUID
          schema:
            type: string
            format: uuid
          example: "dace1cb1-6cbf-4529-be74-316c236083d6"
        - name: index
          in: query
          required: false
          description: Zero-based index of the brochure to download (default 0)
          schema:
            type: integer
            default: 0
            minimum: 0
          example: 0
      responses:
        "200":
          description: Brochure PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          description: Detail service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /titles/{titleId}/brochures:
    get:
      operationId: getTitleBrochures
      tags:
        - Titles
      summary: List available brochures for a title/property
      description: |
        Returns metadata about brochure PDFs archived to blob storage across all comparable deals for a title.
        Use the index value with the /brochures/download endpoint to fetch a specific PDF.
        Returns empty array if no brochures are archived.
      security:
        - OAuth2: [search.comps]
      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "cb534ec8-6059-49ad-b40d-3e836a91c36e"
      responses:
        "200":
          description: Brochure metadata across all deals for the title
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: Listing resource UUID
                    listingId:
                      type: string
                      format: uuid
                      description: Parent listing UUID
                    dealId:
                      type: string
                      format: uuid
                      description: Comparable deal UUID this brochure belongs to
                    agentName:
                      type: string
                      nullable: true
                      description: Name of the listing agent (if available)
                    brochureDate:
                      type: string
                      format: date-time
                      description: Date the brochure was archived
                    index:
                      type: integer
                      description: Zero-based index for use with the download endpoint
                  required:
                    - id
                    - listingId
                    - dealId
                    - brochureDate
                    - index
              example:
                - id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  listingId: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
                  dealId: "dace1cb1-6cbf-4529-be74-316c236083d6"
                  agentName: "Savills"
                  brochureDate: "2025-11-04T10:30:00Z"
                  index: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/brochures/download:
    get:
      operationId: getTitleBrochuresDownload
      tags:
        - Titles
      summary: Download a brochure PDF for a title/property
      description: |
        Downloads the actual PDF file for a brochure archived for a title's comparable deals.
        Use the /titles/{titleId}/brochures endpoint first to list available brochures,
        then use the index parameter to select which one to download.
      security:
        - OAuth2: [search.comps]
      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "cb534ec8-6059-49ad-b40d-3e836a91c36e"
        - name: index
          in: query
          required: false
          description: Zero-based index of the brochure to download (default 0)
          schema:
            type: integer
            default: 0
            minimum: 0
          example: 0
      responses:
        "200":
          description: Brochure PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/footfall:
    get:
      operationId: getTitleFootfall
      tags:
        - Titles
      summary: Get footfall estimates for a title
      description: |
        Returns hourly pedestrian footfall estimates for the grid cell that best overlaps the title polygon.
        Selects the cell with the highest daily average when multiple cells overlap.
        Includes both overall averages and monthly time-series data.
      security:
        - OAuth2: [search.comps]
      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"
      responses:
        "200":
          description: Footfall averages and monthly breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  titleId:
                    type: string
                    format: uuid
                  indexId:
                    type: string
                    description: Grid cell identifier
                  averages:
                    type: object
                    properties:
                      daily:
                        type: number
                      fridayNightout:
                        type: number
                      weekendDaytime:
                        type: number
                      rushHours:
                        type: number
                      officeHours:
                        type: number
                      nightHours:
                        type: number
                      sleepingHours:
                        type: number
                  monthly:
                    type: array
                    items:
                      type: object
                      properties:
                        year:
                          type: integer
                        month:
                          type: integer
                        daily:
                          type: number
                        fridayNightout:
                          type: number
                        weekendDaytime:
                          type: number
                        rushHours:
                          type: number
                        officeHours:
                          type: number
                        nightHours:
                          type: number
                        sleepingHours:
                          type: number
                required:
                  - titleId
                  - indexId
                  - averages
                  - monthly
              example:
                titleId: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"
                indexId: "630949366352100863"
                averages:
                  daily: 380.0
                  fridayNightout: 350.0
                  weekendDaytime: 330.0
                  rushHours: 440.0
                  officeHours: 350.0
                  nightHours: 480.0
                  sleepingHours: 400.0
                monthly:
                  - year: 2025
                    month: 9
                    daily: 200.0
                    fridayNightout: 170.0
                    weekendDaytime: 70.0
                    rushHours: 250.0
                    officeHours: 150.0
                    nightHours: 240.0
                    sleepingHours: 220.0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/traffic:
    get:
      operationId: getTitleTraffic
      tags:
        - Titles
      summary: Get road traffic estimates near a title
      description: |
        Returns the top 5 busiest road segments (by motor vehicle count) within a
        configurable radius of the title polygon.
        Combines data from both the estimated and average traffic tables into a single response.
        Results are ordered by motor vehicle count descending.
      security:
        - OAuth2: [search.titles]
      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"
        - name: radius
          in: query
          required: false
          description: Search radius in metres around the title polygon. Defaults to 200. Maximum 1000.
          schema:
            type: number
            minimum: 1
            maximum: 1000
            default: 200
          example: 200
      responses:
        "200":
          description: Road traffic data near the title
          content:
            application/json:
              schema:
                type: object
                required:
                  - titleId
                  - radius
                  - roads
                properties:
                  titleId:
                    type: string
                    format: uuid
                  radius:
                    type: number
                    description: Radius in metres used for the search
                  roads:
                    type: array
                    items:
                      type: object
                      required:
                        - identifier
                        - class
                        - function
                      properties:
                        identifier:
                          type: string
                          description: OS road segment identifier (UUID)
                        roadName:
                          type: string
                          nullable: true
                        class:
                          type: string
                          description: Road classification (e.g. A Road, B Road, Minor Road)
                        function:
                          type: string
                          description: Road function category
                        estimated:
                          type: object
                          nullable: true
                          description: Point-in-time estimated traffic counts
                          properties:
                            motorVehicles:
                              type: number
                              description: Estimated annual average daily motor vehicle count
                            roundCount:
                              type: integer
                              description: Rounded estimated count
                        average:
                          type: object
                          nullable: true
                          description: Historical average traffic counts
                          properties:
                            motorVehicles:
                              type: number
                              description: Average annual daily motor vehicle count
                            roundCount:
                              type: integer
                              description: Rounded average count
              example:
                titleId: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"
                radius: 200
                roads:
                  - identifier: "6A7DB418-EB37-4E57-9BB9-898774151247"
                    roadName: "Hawk Hill"
                    class: "Classified Unnumbered"
                    function: "Minor Road"
                    estimated:
                      motorVehicles: 7259.8
                      roundCount: 7000
                    average:
                      motorVehicles: 5155.0
                      roundCount: 5000
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /footfall/{indexId}:
    get:
      operationId: getFootfall
      tags:
        - Utilities
      summary: Get footfall estimates by grid cell index
      description: |
        Returns hourly pedestrian footfall estimates for a specific grid cell by its index ID.
        Includes both overall averages and monthly time-series data.
      security:
        - OAuth2: [search.comps]
      parameters:
        - name: indexId
          in: path
          required: true
          description: Footfall grid cell index ID
          schema:
            type: string
          example: "630949366352100863"
      responses:
        "200":
          description: Footfall averages and monthly breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  indexId:
                    type: string
                    description: Grid cell identifier
                  averages:
                    type: object
                    properties:
                      daily:
                        type: number
                      fridayNightout:
                        type: number
                      weekendDaytime:
                        type: number
                      rushHours:
                        type: number
                      officeHours:
                        type: number
                      nightHours:
                        type: number
                      sleepingHours:
                        type: number
                  monthly:
                    type: array
                    items:
                      type: object
                      properties:
                        year:
                          type: integer
                        month:
                          type: integer
                        daily:
                          type: number
                        fridayNightout:
                          type: number
                        weekendDaytime:
                          type: number
                        rushHours:
                          type: number
                        officeHours:
                          type: number
                        nightHours:
                          type: number
                        sleepingHours:
                          type: number
                required:
                  - indexId
                  - averages
                  - monthly
              example:
                indexId: "630949366352100863"
                averages:
                  daily: 380.0
                  fridayNightout: 350.0
                  weekendDaytime: 330.0
                  rushHours: 440.0
                  officeHours: 350.0
                  nightHours: 480.0
                  sleepingHours: 400.0
                monthly:
                  - year: 2025
                    month: 9
                    daily: 200.0
                    fridayNightout: 170.0
                    weekendDaytime: 70.0
                    rushHours: 250.0
                    officeHours: 150.0
                    nightHours: 240.0
                    sleepingHours: 220.0
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/amenities:
    get:
      operationId: getTitleAmenities
      tags:
        - Titles
      summary: Find amenities reachable within a given travel time from a title
      description: |
        Returns key amenity properties (NHS hospitals, superstores, petrol stations,
        schools, railways) reachable from a title's centroid within a given travel time.

        Results are ordered by straight-line distance from the title's centroid,
        closest first. When `size` is less than the total number of matching properties,
        this ensures the nearest amenities of each type are returned.
      security:
        - OAuth2:
            - search.titles
      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "96fab4d6-a9b1-4a29-86e6-feb0a0e9c859"
        - name: mode
          in: query
          required: false
          description: Travel mode
          schema:
            type: string
            enum: [car, foot]
            default: car
        - name: maxMinutes
          in: query
          required: false
          description: Maximum travel time in minutes (1–60)
          schema:
            type: integer
            minimum: 1
            maximum: 60
            default: 15
        - name: size
          in: query
          required: false
          description: Maximum number of results (1–50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 25
      responses:
        "200":
          description: Amenities found within the travel time polygon
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TitleAmenitiesResponse"
              example:
                titleId: "96fab4d6-a9b1-4a29-86e6-feb0a0e9c859"
                centroid:
                  lat: 51.4755
                  lon: -0.8632
                mode: "car"
                maxMinutes: 10
                results:
                  took: 85
                  timed_out: false
                  hits:
                    total:
                      value: 16
                      relation: eq
                    hits:
                      - _id: "8b1b4a2b-2911-4028-a303-b5c0dcf111b5"
                        _source:
                          mainAddress:
                            fullAddress: "PACE WOODHOUSE, WOODHOUSE WAY, NUTHALL, NOTTINGHAM, NG16 1RQ"
                          propertyCategory: "Commercial"
                          uprns:
                            - vOA:
                                - typeCode: "209"
                                  typeDescription: "Petrol Filling Stations (National Scheme)"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Title not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Title exists but has no geometry centroid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          description: Routing service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Service misconfigured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      responses:
        "200":
          description: Amenities found within the travel time polygon
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelTimeSearchResponse"
              example:
                travelTime:
                  origin: "Twyford Railway Station, Reading"
                  resolvedLatLon:
                    lat: 51.4755
                    lon: -0.8632
                  mode: "car"
                  maxMinutes: 10
                results:
                  took: 85
                  timed_out: false
                  hits:
                    total:
                      value: 16
                      relation: eq
                    hits:
                      - _id: "96fab4d6-a9b1-4a29-86e6-feb0a0e9c859"
                        _source:
                          id: "96fab4d6-a9b1-4a29-86e6-feb0a0e9c859"
                          number: "NT538016"
                          mainAddress:
                            fullAddress: "Sainsburys Supermarkets Ltd, Main Street, Nottingham, NG16 2LY"
                            postcode:
                              value: "NG16 2LY"
                          propertyCategory: "Commercial"
                          tenure: "Leasehold"
                          owners:
                            - companyName: "SAINSBURY'S SUPERMARKETS LTD"
                              ownerCategory: "Company"
                          uprns:
                            - address: "Main Street, Nottingham, NG16 2LY"
                              vOA:
                                - typeCode: "139"
                                  typeDescription: "Hypermarkets/Superstores (over 2500m²)"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Origin location could not be resolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          description: Routing service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Service misconfigured — required environment variables (ELASTICSEARCH_URL, ELASTICSEARCH_API_KEY, or GRAPHHOPPER_URL) are not set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /titles/{titleId}/travel-time-polygon:
    get:
      operationId: getTitleTravelTimePolygon
      tags:
        - Titles
      summary: Get the isochrone polygon for a title
      description: |
        Returns the GeoJSON polygon representing the area reachable from a title's
        centroid within a given travel time and mode.

        Use the returned `polygon` directly as a `geo_shape` filter in `POST /titles`
        to run any property search (with your own filters) within the travel time area:

        ```json
        POST /titles
        {
          "query": {
            "bool": {
              "filter": [
                { "geo_shape": { "geometry.centroid": { "shape": <polygon>, "relation": "within" } } },
                { "term": { "propertyCategory": "Residential" } }
              ]
            }
          }
        }
        ```
      security:
        - OAuth2:
            - search.titles
      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "685ceaf1-5f9a-45ad-93fa-c15684589ed1"
        - name: mode
          in: query
          required: false
          description: Travel mode
          schema:
            type: string
            enum: [car, foot]
            default: car
        - name: maxMinutes
          in: query
          required: false
          description: Maximum travel time in minutes (1–60)
          schema:
            type: integer
            minimum: 1
            maximum: 60
            default: 15
      responses:
        "200":
          description: Isochrone polygon for the title
          content:
            application/json:
              schema:
                type: object
                properties:
                  titleId:
                    type: string
                    format: uuid
                  centroid:
                    type: object
                    properties:
                      lat:
                        type: number
                      lon:
                        type: number
                  mode:
                    type: string
                    enum: [car, foot]
                  maxMinutes:
                    type: integer
                  polygon:
                    type: object
                    description: GeoJSON geometry (Polygon or MultiPolygon) — pass directly to geo_shape filter in POST /titles
              example:
                titleId: "685ceaf1-5f9a-45ad-93fa-c15684589ed1"
                centroid:
                  lat: 51.4755
                  lon: -0.8632
                mode: "car"
                maxMinutes: 10
                polygon:
                  type: "Polygon"
                  coordinates: [[[−0.95, 51.45], [−0.80, 51.45], [−0.80, 51.50], [−0.95, 51.50], [−0.95, 51.45]]]
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Title not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Title exists but has no geometry centroid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          description: Routing service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Service misconfigured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /comps/nl-query:
    post:
      operationId: searchComparableDealsNaturalLanguage
      tags:
        - Comps
      summary: Search comparable deals using natural language
      description: |
        Search comparable deal records using natural language queries, automatically interpreted and executed.
      security:
        - OAuth2:
            - search.comps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NaturalLanguageQueryRequest"
            examples:
              commercialSales:
                summary: Commercial office sales
                value:
                  query: "commercial office sales in Birmingham over 500k since 2022"
                  size: 10
              investmentYield:
                summary: Investment deals by yield
                value:
                  query: "investment deals with net yield above 6 percent in Manchester"
                  size: 10
      responses:
        "200":
          description: Natural language query successfully converted and executed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NaturalLanguageCompsQueryResponse"
        "400":
          description: Invalid request or AI failed to generate valid query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          description: AI service unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
  /titles/nl-query:
    post:
      operationId: searchTitlesNaturalLanguage
      tags:
        - Titles
      summary: Search titles using natural language query
      description: |
        Search UK land title records using natural language queries, automatically interpreted and executed.

        Accepts plain English like "houses in Bolton over 3 acres". The response includes results and a description of the executed query, enabling conversational refinement.

        How it works:
        1. Submit a plain English query describing the properties you want
        2. The query is automatically interpreted and executed against the property index
        3. Results are returned with a natural language description of what was searched

        Use this endpoint when:
        - You prefer natural language over structured query syntax
        - You want to explore data without writing queries manually
        - You need conversational query refinement

        Limits: Same as POST /titles - max 25 results, 5s timeout, from+size≤10000
      security:
        - OAuth2:
            - search.titles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NaturalLanguageQueryRequest"
            examples:
              simpleLocation:
                summary: Simple location search
                value:
                  query: "houses in Bolton"
                  size: 10
              locationWithSize:
                summary: Location with area filter
                value:
                  query: "commercial properties in Cambridge over 2 acres"
                  size: 15
              specificCriteria:
                summary: Multiple specific criteria
                value:
                  query: "freehold residential properties in London between 0.5 and 1 acre"
                  size: 20
              constraintSearch:
                summary: Search with planning constraints
                value:
                  query: "properties with listed building constraints in Oxford"
                  size: 10
              ownershipSearch:
                summary: Search by ownership type
                value:
                  query: "properties owned by housing associations in Manchester"
                  size: 10
              geographicBounds:
                summary: Geographic bounding box
                value:
                  query: "commercial properties in the area bounded by latitude 53.5 to 53.6 and longitude -2.5 to -2.4"
                  size: 25
      responses:
        "200":
          description: Natural language query successfully converted and executed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NaturalLanguageQueryResponse"
              examples:
                success:
                  summary: Successful natural language search
                  value:
                    queryDescription: "Searching for residential terraced properties in Bolton with an area between 0.02 and 0.05 acres"
                    elasticsearchQuery:
                      query:
                        bool:
                          must:
                            - match:
                                mainAddress.town: Bolton
                            - term:
                                propertyCategory: Residential
                            - term:
                                "propertyType.keyword": Terraced
                          filter:
                            - range:
                                areaInAcres:
                                  gte: 0.02
                                  lte: 0.05
                      size: 10
                    results:
                      took: 42
                      timed_out: false
                      _shards:
                        total: 3
                        successful: 3
                        failed: 0
                      hits:
                        total:
                          value: 123
                          relation: eq
                        max_score: 1.5
                        hits:
                          - _index: properties
                            _id: 4665bc0b-69d6-4e04-8117-48bb25dfba2c
                            _score: 1.5
                            _source:
                              id: 4665bc0b-69d6-4e04-8117-48bb25dfba2c
                              number: LA135828
                              countryIsoCode: ENG
                              tenure: Leasehold
                              propertyCategory: Residential
                              propertyType:
                                - Terraced
                              areaInAcres: 0.023483
                              mainAddress:
                                fullAddress: 30, Penarth Road, Bolton, BL3 5RJ
                                buildingNumber: "30"
                                street: PENARTH ROAD
                                town: BOLTON
                                postcode:
                                  value: BL3 5RJ
                                  outcode: BL3
                              owners: []
        "400":
          description: Invalid request or AI failed to generate valid query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidQuery:
                  summary: Query could not be interpreted
                  value:
                    error:
                      code: INVALID_NL_QUERY
                      message: "Could not interpret your natural language request. Try being more specific or using simpler terms. Example: 'houses in Bolton over 3 acres'"
                      correlationId: 550e8400-e29b-41d4-a716-446655440000
                emptyQuery:
                  summary: Empty or missing query string
                  value:
                    error:
                      code: MISSING_QUERY
                      message: "The 'query' field is required and cannot be empty"
                      correlationId: 550e8400-e29b-41d4-a716-446655440000
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "502":
          description: AI service unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error:
                  code: AI_SERVICE_ERROR
                  message: "The natural language query service is temporarily unavailable. Please try again or use POST /titles with a structured query."
                  correlationId: 550e8400-e29b-41d4-a716-446655440000
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /titles/{titleId}/comps:
    get:
      operationId: getTitleComps
      tags:
        - Titles
      summary: Get comparable deal summaries for a title
      description: |
        Retrieve public comparable deal summaries associated with a specific title.
      security:
        - OAuth2:
            - search.comps
      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "cb534ec8-6059-49ad-b40d-3e836a91c36e"
      responses:
        "200":
          description: Comparable deal summaries for the title
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ComparableDealSummary"
              example:
                - id: "f1a0087f-8647-420f-9c72-fbcc9320ecb0"
                  comparableType: "Residential"
                  comparableStatus: "RegisteredSale"
                  dealType: "Residential"
                  ownershipType: "Freehold"
                  propertyType: ["Detached"]
                  mixedUse: false
                  validationStatus: "Validated"
                  dealDate: "2005-08-23T23:00:00Z"
                  dealPrice: 250000.0
                  indexedPrice: 418651.69
                  dealPricePerSquareFoot: 134.25
                  transactionType: "Sale"
                  dealAddress: "Land Adjacent The Garage, Great North Road, South Muskham, NG23 6EA"
                  totalFloorAreaInSquareFeet: 1862.15
                  siteAreaInSquareFeet: 14677.75
                  useClass: ["C3"]
                  countryIsoCode: "ENG"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /titles/{titleId}/planning:
    get:
      operationId: getTitlePlanning
      tags:
        - Titles
      summary: Get planning applications for a title
      description: |
        Retrieve all planning applications associated with a specific property title.

      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

      responses:
        "200":
          description: Planning applications retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    titleId:
                      type: string
                      format: uuid
                    reference:
                      type: string
                      description: Planning application reference
                      example: "C/99/1017"
                    authority:
                      type: string
                      description: Planning authority
                      example: "Cambridge"
                    description:
                      type: string
                      description: Application description
                    dateSubmitted:
                      type: string
                      format: date-time
                    decisionDate:
                      type: string
                      format: date-time
                      nullable: true
                      description: Date the planning decision was issued
                    decision:
                      type: string
                      nullable: true
                      description: Planning decision text
                    decisionStatus:
                      type: string
                      nullable: true
                      description: Normalised decision status. Use this field for filtering rather than the raw decision text.
                    status:
                      type: string
                      nullable: true
                      description: Planning application status (e.g. "DECIDED", "WITHDRAWN")
                    applicationUrl:
                      type: string
                      format: uri
                      nullable: true
                    agentName:
                      type: string
                      nullable: true
                    agentCompany:
                      type: string
                      nullable: true
                    agentAddress:
                      type: string
                      nullable: true
                    applicantName:
                      type: string
                      nullable: true
                    applicantCompany:
                      type: string
                      nullable: true
                    applicantAddress:
                      type: string
                      nullable: true
                    units:
                      type: integer
                    year:
                      type: integer
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/constraints:
    get:
      operationId: getTitleConstraints
      tags:
        - Titles
      summary: Get planning and environmental constraints for a title
      description: |
        Retrieve all planning and environmental constraints affecting a specific property title.

      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

      responses:
        "200":
          description: Constraints retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    titleId:
                      type: string
                      format: uuid
                    name:
                      type: string
                      description: Constraint type name
                      example: "SiteOfSpecialScientificInterest"
                    categoryName:
                      type: string
                      nullable: true
                      description: Constraint category or severity
                    isOverlapping:
                      type: boolean
                    overlapPercentage:
                      type: number
                      format: double
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/sales:
    get:
      operationId: getTitleSales
      tags:
        - Titles
      summary: Get sales history for a title
      description: |
        Retrieve all property sale transactions for a specific title.

      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

      responses:
        "200":
          description: Sales history retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    titleId:
                      type: string
                      format: uuid
                    dateAcquired:
                      type: string
                      format: date-time
                      example: "2024-05-02T23:00:00Z"
                    price:
                      type: number
                      format: double
                      description: Sale price in GBP
                    pricePerSquareFoot:
                      type: number
                      format: double
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/leases:
    get:
      operationId: getTitleLeases
      tags:
        - Titles
      summary: Get lease information for a title
      description: |
        Retrieve all lease information associated with a specific title.

      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

      responses:
        "200":
          description: Lease information retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    titleId:
                      type: string
                      format: uuid
                    leaseStartDate:
                      type: string
                      format: date-time
                    leaseEndDate:
                      type: string
                      format: date-time
                    leaseLength:
                      type: integer
                      description: Lease length in years
                    leaseType:
                      type: string
                      enum: ["Business", "Occupational", "VirtualFreehold"]
                    tenantInAdministration:
                      type: boolean
                    tenantLateFiling:
                      type: boolean
                    rent:
                      type: number
                      format: double
                      nullable: true
                      description: Rent amount as recorded in the lease
                    rentAnnually:
                      type: number
                      format: double
                      nullable: true
                      description: Annual rent amount
                    rentPerSquareFoot:
                      type: number
                      format: double
                      nullable: true
                    rentReviewDateText:
                      type: string
                      nullable: true
                    breakClauseDescription:
                      type: string
                      nullable: true
                    breakClauseTermInMonths:
                      type: integer
                      nullable: true
                    breakClauseFromDate:
                      type: string
                      nullable: true
                    breakPenalty:
                      type: number
                      format: double
                      nullable: true
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/leaseholds:
    get:
      operationId: getTitleLeaseholds
      tags:
        - Titles
      summary: Get leasehold information for a title
      description: |
        Retrieve all leasehold titles associated with a specific freehold title.

      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

      responses:
        "200":
          description: Leasehold information retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    titleId:
                      type: string
                      format: uuid
                      description: The freehold title ID
                    leaseholdTitleId:
                      type: string
                      format: uuid
                      description: The leasehold title ID
                    leaseholdTitleNumber:
                      type: string
                      description: The leasehold title number
                    companyName:
                      type: string
                      description: Leaseholder company name
                    companyNumber:
                      type: string
                      description: Leaseholder company registration number
                    companyAddress:
                      type: string
                      description: Leaseholder company address
                    tenantInAdministration:
                      type: boolean
                      description: Whether leaseholder is in administration
                    tenantLateFiling:
                      type: boolean
                      description: Whether leaseholder has late filings
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/geometry:
    get:
      operationId: getTitleGeometry
      tags:
        - Titles
      summary: Get geometry data for a title
      description: |
        Retrieve geographic data including boundaries and location for a specific title.

      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

      responses:
        "200":
          description: Geometry data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  area:
                    type: number
                    format: double
                    description: Area in square meters
                  centroid:
                    type: object
                    properties:
                      lat:
                        type: number
                        format: double
                      lon:
                        type: number
                        format: double
                  multiPolygonGeometry:
                    type: object
                    description: GeoJSON MultiPolygon geometry
                    properties:
                      type:
                        type: string
                        enum: ["MultiPolygon"]
                      coordinates:
                        type: array
                        description: GeoJSON coordinate arrays
                        items:
                          type: array
                          items:
                            type: array
                            items:
                              type: array
                              items:
                                type: number
                  titleId:
                    type: string
                    format: uuid
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/buildings:
    get:
      operationId: getTitleBuildings
      tags:
        - Titles
      summary: Get building information for a title
      description: |
        Retrieve all buildings associated with a specific property title.

      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

      responses:
        "200":
          description: Building information retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    titleId:
                      type: string
                      format: uuid
                    builtYear:
                      type: string
                      nullable: true
                      description: Construction year or range
                    height:
                      type: number
                      format: double
                      description: Building height in meters
                    eavesHeight:
                      type: number
                      format: double
                    heightAboveSea:
                      type: number
                      format: double
                    footprintAreaSqFt:
                      type: number
                      format: double
                    uprns:
                      type: array
                      items:
                        $ref: "#/components/schemas/UPRN"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/epcs:
    get:
      operationId: getTitleEPCs
      tags:
        - Titles
      summary: Get EPC (Energy Performance Certificate) data for a title
      description: |
        Retrieve all EPC data from UPRNs associated with a specific title.

      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

      responses:
        "200":
          description: EPC data retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uprnIdentifier:
                      type: string
                      description: Associated UPRN
                    currentRating:
                      type: string
                      enum:
                        [
                          "A",
                          "A+",
                          "B",
                          "B+",
                          "C",
                          "C+",
                          "Carbon Neu",
                          "D",
                          "D+",
                          "E",
                          "E+",
                          "F",
                          "F+",
                          "G",
                        ]
                    potentialRating:
                      type: string
                      enum:
                        [
                          "A",
                          "A+",
                          "B",
                          "B+",
                          "C",
                          "C+",
                          "Carbon Neu",
                          "D",
                          "D+",
                          "E",
                          "E+",
                          "F",
                          "F+",
                          "G",
                        ]
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/properties:
    get:
      operationId: getTitleProperties
      tags:
        - Titles
      summary: Get top-level property data for a title
      description: |
        Retrieve core property information including main address, tenure, category, and area measurements.

      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

      responses:
        "200":
          description: Property data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  number:
                    type: string
                  countryIsoCode:
                    type: string
                    enum: ["ENG", "SCT"]
                  tenure:
                    type: string
                  propertyCategory:
                    type: string
                    enum: ["Residential", "Commercial", "Land", "Mixed", "Unknown", ""]
                    description: High-level property category
                  propertyType:
                    type: array
                    items:
                      type: string
                  areaInAcres:
                    type: number
                    format: double
                  areaInSquareFeet:
                    type: number
                    format: double
                  areaInSquareMeters:
                    type: number
                    format: double
                  buildingFootprint:
                    type: number
                    format: double
                  siteCoverage:
                    type: number
                    format: double
                  totalFloorAreaSqFt:
                    type: number
                    format: double
                  sizeOfCommercialSpaceInSquareFeet:
                    type: number
                    format: double
                    nullable: true
                  ownerType:
                    type: array
                    items:
                      type: string
                    description: Owner category list. English titles with no recorded owners will include "Private".
                  mainAddress:
                    type: object
                    properties:
                      fullAddress:
                        type: string
                      buildingNumber:
                        type: string
                      buildingName:
                        type: string
                      street:
                        type: string
                      town:
                        type: string
                      county:
                        type: string
                      postcode:
                        type: object
                        properties:
                          value:
                            type: string
                          outcode:
                            type: string
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/use-classes:
    get:
      operationId: getTitleUseClasses
      tags:
        - Titles
      summary: Get planning use classes for a title
      description: |
        Retrieve all UK Planning Use Class codes from UPRNs associated with a specific title.

      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

      responses:
        "200":
          description: Use classes retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uprnIdentifier:
                      type: string
                      format: uuid
                      description: UUID identifier for the UPRN record
                    useClass:
                      type: array
                      nullable: true
                      items:
                        type: string
                      description: UK Planning Use Class codes (simple string array)
                    useClasses:
                      type: array
                      nullable: true
                      description: Structured use class data with descriptions
                      items:
                        type: object
                        properties:
                          code:
                            type: string
                          description:
                            type: string
                            nullable: true
                          classificationDescription:
                            type: string
                            nullable: true
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/owners:
    get:
      operationId: getTitleOwners
      tags:
        - Titles
      summary: Get owner information for a title
      description: |
        Retrieve all owner information for a specific title. May be empty for privacy reasons.

      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

      responses:
        "200":
          description: Owner information retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    companyName:
                      type: string
                    companyNumber:
                      type: string
                    companyAddress:
                      type: string
                    ownerCategory:
                      type: string
                      enum:
                        ["Company", "Council", "HousingAssociation", "Private"]
                    ownerInAdministration:
                      type: boolean
                    ownerLateFiling:
                      type: boolean
                    titleId:
                      type: string
                      format: uuid
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /titles/{titleId}/voa:
    get:
      operationId: getTitleVOA
      tags:
        - Titles
      summary: Get VOA classifications and rateable values for a title
      description: |
        Retrieve Valuation Office Agency (VOA) property classifications and rateable values from UPRNs associated with a specific title.

      parameters:
        - name: titleId
          in: path
          required: true
          description: Title UUID
          schema:
            type: string
            format: uuid
          example: "4665bc0b-69d6-4e04-8117-48bb25dfba2c"

      responses:
        "200":
          description: VOA data retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uprnIdentifier:
                      type: string
                    rateableValue:
                      type: number
                      format: double
                      description: Rateable value for business rates
                    vOA:
                      type: array
                      items:
                        type: object
                        properties:
                          typeCode:
                            type: string
                            description: VOA special category code
                          typeDescription:
                            type: string
                            description: VOA property type description
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
[...]
